video {
  margin: 0 auto;
  max-width: 100%;
}

.video-container {
  position: relative;
  background-color: black;
  display: flex;
  width: 0;
  height: 0;
}

.overlay {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.overlay .red-line {
  margin: 0;
  background: red;
  text-align: center;
  mix-blend-mode: difference;
  position: absolute;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  left: 0;
}

.vertical-line {
  height: 100%;
  width: 1px;
  top: 0;
}

.button-container {
  margin-top: 10px;
}

.button-container > div > * {
  margin-right: 10px;
}

.label {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
